.f-1{
    font-size: 1px;
}
.f-2{
    font-size: 2px;
}
.f-3{
    font-size: 3px;
}
.f-4{
    font-size: 4px;
}
.f-5{
    font-size: 5px;
}
.f-6{
    font-size: 6px;
}
.f-7{
    font-size: 7px;
}
.f-8{
    font-size: 8px;
}
.f-9{
    font-size: 9px;
}
.f-10{
    font-size: 10px;
}
.f-11{
    font-size: 11px;
}
.f-12{
    font-size: 12px;
}
.f-13{
    font-size: 13px;
}
.f-14{
    font-size: 14px;
}
.f-15{
    font-size: 15px;
}
.f-16{
    font-size: 16px;
}
.f-17{
    font-size: 17px;
}
.f-18{
    font-size: 18px;
}
.f-19{
    font-size: 19px;
}
.f-20{
    font-size: 20px;
}
.f-21{
    font-size: 21px;
}
.f-22{
    font-size: 22px;
}
.f-23{
    font-size: 23px;
}
.f-24{
    font-size: 24px;
}
.f-25{
    font-size: 25px;
}
.f-26{
    font-size: 26px;
}
.f-27{
    font-size: 27px;
}
.f-28{
    font-size: 28px;
}
.f-29{
    font-size: 29px;
}
.f-30{
    font-size: 30px;
}

.red{
    color: red;
}

.orange{
    color: orange;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

